@font-face {
  font-family: 'space_mono';
  src: url('./Fonts/Space_Mono/SpaceMono-Regular.woff2') format('woff2'),
       url('./Fonts/Space_Mono/SpaceMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'source_code_pro';
  src: url('./Fonts/Source_Code_Pro/SourceCodePro-Regular.woff2') format('woff2'),
       url('./Fonts/Source_Code_Pro/SourceCodePro-Regular.woff') format('woff');
}

.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, h2, h3 {
  color: #11db02;
  /*font-family: 'source_code_pro';*/
  font-family: 'space_mono';
}

.title {
  text-transform: uppercase;
}

.button {
  margin-right: 0.4em;
}

.clipboard {
  margin-right: 0px;
}